.nav-item{
    margin-top: 25px;
    margin-bottom: 0px;
}
.horizontal{
    margin-bottom: 60px;
    
}
.text-body-emphasis{
   justify-content: left;
   /* position: relative;
   right: 200px; */
}

.lead{
    justify-content: left;
}
.head{
    margin-left: 90px;
}

.gradient-background {
    background: linear-gradient(300deg,#FFECD2 , #FCB69F);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
/* .btn{
    margin-right: 20px;
    border-radius: 15px;
} */

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.card1{
    /* margin: 10px; */
    margin: 5px;
    background-color: #6d5169;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card1-body{
  position: relative;
  top: 20px;

}

  .book{
    border-radius:20px;
    border:none;
    background-color: #eb595f;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .free{
    margin-right: 50px;
    /* margin-left: 5px; */
    padding-left: 20px;
    padding-right: 20px;
  }
  .quote{
    padding-left: 25px;
    padding-right: 25px;
    /* margin-right: 10px; */
  }

.book1{
  margin-left: 80px;
  padding-left: 20px;
  padding-right: 20px;
}