
.nav-item{
    
    margin-left: 18px;
    margin-top: 35px;

    /* margin-bottom: 0px; */
    /* padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%; */
    font-size:18px;
    font-weight: lighter;
    /* font-weight: bold;   */
    /* gap: 4px; */
    background-color: #333;
    padding-right: 10px;
    padding-left: 10px;

    padding-bottom: 4px;
}
.main-content{
  background-color: white;
}
 
.home-svg{
  animation-name: rightMovement;
  position: relative;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* left: 950px;
  bottom: 300px; */
}

/* @keyframes rightMovement {
  from{
   left: 0px;
  }

  to{
    right: 100px;
  }
} */

.nav-item a{
    flex: 1;
    /* background-color: #777272; */
    /* color:#ebdddd00;  */
    color: white;
    /* border:1px solid; */
    padding:1.2rem;
    text-align:center;
    text-decoration:none;
    transition:all 0.4s ease-out 0s;
}

a:hover,
a:focus {
  background-color: #fff;
  color:black;
}

.horizontal{
  margin-top: 20px;
    margin-bottom: 40px;
    
}
.text-body-emphasis{
   justify-content: left;
   /* position: relative;
   right: 200px; */
}

.lead{
    justify-content: left;
    /* padding-bottom:300px; */
    font-weight: bolder;
}
.head{
    margin-left: 90px;
    margin-top: 20px;
}

.gradient-background {
    background: linear-gradient(300deg,#121b1b , #b59a65);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
/* .btn{
    margin-right: 20px;
    border-radius: 15px;
} */

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.card1{
    /* margin: 10px; */
    margin: 5px;
    background-color: #6d5169;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card1-body{
  position: relative;
  top: 30px;
  right: 2px;
  /* margin-bottom: 4px; */
  text-align: center;
}

  .book{
    border-radius:20px;
    border:none;
    background-color: #eb595f;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .free{
    margin-right: 50px;
    /* margin-left: 5px; */
    padding-left: 20px;
    padding-right: 20px;
  }
  .quote{
    padding-left: 25px;
    padding-right: 25px;
    /* margin-right: 10px; */
  }

.book1{
  margin-left: 6px;
  padding-left: 20px;
  padding-right: 20px;

}

.card-img-top{
  height: 300px;
  width: 180px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}


form{
  
  color: white;
  background-color: #6d5169;
  position: absolute;
  /* top: px; */
  top: 2182px;
  /* bottom: 49px; */
  /* left: 1px; */
  right: 86px;
  border-radius: 1%;
  text-align: center;
  height: 800px;
  width: 634px;
  padding: 50px;
  /* padding-right:2px; */
}

form::placeholder{
  text-align: center;
}

.form-input {
  width: 300px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  border-radius: 5px;
  border: solid 0.2px rgba(0, 0, 0, 0.378);
}

.whatsApp{
  /* display: flex; */
  align-items: left;
  position: relative;
  /* bottom: 10px; */
  /* left: 100px; */
  margin-right: 110px;
  /* color: black; */
}
.colored-button{
    background-color:#eb595f;
    border-radius: 25px;
    border: none;
    width: 300px;
    height: 50px;
    /* align-items: center; */
    color: white;
    font-weight: bold;
    margin: 20px;
  }



  form h2{
    padding: 10px;
    /* padding-top: 50px; */
  }

  form p{
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .col .card img:hover{
    transform: scale(1.1);
  }

  .col .card img{
    transition: all 0.3s linear 0s;
  }

  .card-img-top{
    transition: all 0.4s linear 0s;
  }
  
  .card-img-top:hover{
    transform: scale(1.1);
  }